<app-work>
    <div class="row full-height no-gaps">
        <div class="col-7 p-0 full-height">
            <div class="bg-dark-50 full-width p-2">
                
            </div>

            <div class="full-height">
                <div *ngIf="!openList; else equipsList" class="full-height full-width flex-center">
                    <mat-spinner></mat-spinner>
                </div>

                <ng-template #equipsList>
                    <mat-action-list class="full-height scroll-y-auto">
                        <button 
                            *ngFor="let equip of equips"
                            mat-list-item
                            (click)="equipInfo.getEquipInfo(equip.id)"
                            matTooltipPosition="before"
                        >
                           {{equip.name}}
                        </button>
                    </mat-action-list>
                </ng-template>
            </div>

        </div>
        <div class="col-5 bg-dark-50 full-height p-3">
            <app-info-equip #equipInfo (upload)="upload()"></app-info-equip>
        </div>
    </div>
</app-work>