<img class="bg-image" src="assets/bg-8.jpg" />

<div class="full-page flex-center bg-dark-10">
    <div class="row container">
        <h3 class="text-center col-12 text-white none-sm mb-5">Домашняя страница</h3>
        <div class="col-xl-3 col-md-6 col-12 p-1">
            <div routerLink="/contracts" class="panel bg-light"> 
                <i class="fas fa-file-contract"></i>
                Договоры и КП
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12 p-1">
            <div routerLink="/empls" class="panel bg-light"> 
                <i class="far fa-address-card"></i>
                Сотрудники
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12 p-1">
            <div routerLink="/equipments" class="panel bg-light"> 
                <i class="fas fa-hammer"></i>
                Оборудование и техника
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12 p-1">
            <div routerLink="/materials" class="panel bg-light"> 
                <i class="fas fa-boxes"></i>
                Материалы
            </div>
        </div>
    </div>
</div>