.btn-tool {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    border: 1px solid white;

    font-size: 15px;
}